<nav class="navbar navbar-inverse" id="navCustom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" id="navbar-brand-custom" href="/"><b>Dublin Bikes</b></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
      	<li id="right-block-2">
      	<div class="dropdown">
			<button onclick="myFunction()" class="dropbtn">Search a station...</button>
  			<div id="myDropdown" class="dropdown-content">
    			<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    		</div>
      	</div>
      	</li>
      	
      	 <li id="right-block-1">
      	 <div id="weather-block">
        	<a class="weatherwidget-io" href="https://forecast7.com/en/53d35n6d26/dublin/" data-label_1="DUBLIN" data-label_2="WEATHER" data-mode="Current" data-theme="pure" data-basecolor="#F8F8F8" >DUBLIN WEATHER</a>
         </div>
         </li>
      
      </ul>
    </div>
  </div>
</nav>
      