<nav class="navbar navbar-inverse" id="navCustom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     <img style="margin-top: 10px; margin-left: 0px;" src="/static/logo.png">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
          <li id="right-block-2">
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Search a station...</button>
              <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <div id="marker-loc"></div>
            </div>
          </div>
          </li>
          
           <li id="right-block-1">
           <div id="weather-block">
             <div id="leftie"> <b>DUBLIN</b><br>Weather</div>
             <div id="center"><img src="/static/icon_16.png" width="100%"></div>
             <div id="rightie-top"></div>\
             <div id="rightie-bottom">Description...</div>
         </div>
         </li>
      
      </ul>
    </div>
  </div>
</nav>

      
