{% extends 'layout.html' %}

{% block head %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="{{ url_for('static', filename='weather.js') }}"></script>    
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
{% endblock %}    
    
{% block body %}

<div>

    <!-- Bootstrap Modal -->
      <div class="modal fade" id="mapModal" role="dialog">
        <div class="modal-dialog">
              <!-- Modal content-->
            <div class="modal-content modal-box  " style="width:700px;">
                <div class="modal-header" style="width:700px;">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <div id="modal-map-head"  style="width:700px;"></div>
                </div>
            <div class="modal-body"  style="width:700px;" id="modal-map-body"></div>
                <div id="modal-graph-1"  style="width:600px; margin-left: 0px;" ></div>
                <br>
                <div id="modal-graph-2"  style="width:600px; margin-left: 0px;"></div>
                <div class="modal-footer"  style="width:700px;">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
        </div>
    </div>
    
<div id="googleMap"></div>
<div id="legend">
<b>Legend</b><br><br><img src="/static/green.png" style="width:5%;"> &gt; 75% Occupancy<br>
<img src="/static/amber.png" style="width:5%;"> &lt; 35% Occupancy<br>
<img src="/static/red.png" style="width:5%;"> &gt; 10% Occupancy<br></div>

<script src="{{ url_for('static', filename='javascriptNew.js') }}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA55VhjQyX8BeKEq7Przs3q7NU9RBLNBRg&callback=mapInit"></script>

<script src="{{ url_for('static', filename='dropdown.js') }}"></script>

{% endblock %}