{% extends 'layout.html' %}

{% block head %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script type=text/javascript>
  		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  		$.getJSON($SCRIPT_ROOT + '/_add_numbers', function(data) {
        	console.log(data.result);
      	});
	</script>
    
{% endblock %}    
    
{% block body %}
    
    <div class="jumbotron text-center">

		<h1>Welcome Muskaqueers!</h1>
		<p class="lead">Don't be silly, wrap your...</p>
		<h2>GitHub repository!</h2>

	</div>

	<div id="googleMap" style="width:100%;height:400px;"></div>

	<script src="{{ url_for('static', filename='javascriptNew.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA55VhjQyX8BeKEq7Przs3q7NU9RBLNBRg&callback=mapInit"></script>

{% endblock %}
